<app-header></app-header>
<div class="container">
  <div class="tracks">
    <mat-card *ngFor="let track of (tracks$ | async)?.items;let i = index" class="track">
      <mat-card-header class="track__header">
        {{ track.fields.name }}
      </mat-card-header>

      <img mat-card-image [src]="track.fields.images | getFirstImage:500" [routerLink]="['/track', track.fields?.slug]">
      <mat-card-content [innerHtml]="getFirstParagraph(track.fields.description)">
      </mat-card-content>
    </mat-card>
  </div>
</div>