<div *ngIf="track$ | async as track;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button (click)="goBack()" data-testid="back-button">
        <mat-icon>arrow_back</mat-icon> {{track.fields.name}}
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-slider [slides]="track.fields.images"></app-slider>
  <div class="track">
    <div class="track__name">
      <h3>{{ track.fields.name }}</h3>
      <hr>
    </div>
    <div class="details">
      <ng-container *transloco="let t; read: 'track'">
        <div class="row">
          <span>
            <mat-icon class="even">directions_walk</mat-icon> {{track.fields.distance}} {{ t('km') }}
          </span>
          <span>{{track.fields.totalTime}} {{ t('h') }} <mat-icon class="odd">timer</mat-icon></span>
        </div>
        <div class="row">
          <span>
            <mat-icon class="even">trending_up</mat-icon> {{ t('gradient') }}+ {{track.fields.positiveGradient}} {{
            t('m') }}
          </span>
          <span i18n>{{ t('gradient') }}+ {{track.fields.negativeGradient}} {{ t('m') }}<mat-icon class="odd">
              trending_down</mat-icon> </span>
        </div>
        <div class="row">
          <span>
            <mat-icon class="even">vertical_align_top</mat-icon> {{ t('maxAltitude') }}: {{track.fields.maxAltitude}} {{
            t('m') }}
          </span>
          <span>{{ t('minAltitude') }}: {{track.fields.minAltitude}} {{ t('m') }}<mat-icon class="odd">
              vertical_align_bottom</mat-icon> </span>
        </div>
      </ng-container>
      <ng-container *transloco="let t;">
        <div class="row">
          <span>
            <mat-icon class="even">refresh</mat-icon> {{ t('track.isCircular') }}: {{ track.fields.isCircular ?
            t('common.yes') :
            t('common.no') }}
          </span>
        </div>

      </ng-container>
    </div>
    <hr>
    <p [innerHtml]="contentfulService.returnHtmlFromRichText(track.fields.description)"></p>
  </div>
</div>